<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <title>angular</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link href="css/bootstrap-chosen.css" rel="stylesheet">        
    </head>
    <body ng-app="demoAngular">
        <div ng-controller="ControladorUser" ng-init="initAdminUsuarios()">
            <div class="row-fluid">
                <div class="panel panel-info">
                    <div class="panel-heading"  >
                        <titulo></titulo>
                    </div>
                    <form role="form" name="forma">                        
                        <div class="container">                            
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group col- fftnr cg" >    
                                        <label class="control-label" for="documento" >Documento</label>
                                        <input type="text" name="documento" id="documento" ng-model="documento" ng-disabled="deshabilitar" required >
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group col- fftnr cg" >    
                                        <label class="control-label" for="nombres">Nombres</label>
                                        <input type="text" ng-model="nombres" >
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group col- fftnr cg" >    
                                        <label class="control-label" for="apellidos">Apellidos</label>
                                        <input type="text" ng-model="apellidos" >
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group col- fftnr cg" >
                                        <label class="control-label" for="fechaNacimiento">Fecha de nacimiento</label>
                                        <div class="input-group input-group-sm">
                                            <input class="form-control input-sm" datepicker-popup="{{format}}"  is-open="opened" type="text"  ng-model="fechaNacimiento" >
                                            <span class="input-group-addon glyphicon glyphicon-calendar" ng-click="open($event)"  style="cursor:pointer;" title="calendario" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group col- fftnr cg" >    
                                        <label class="control-label" for="sexo">sexo</label>
                                        <select class="form-control input-sm" chosen ng-model="sexo">
                                            <option value="">Seleccione</option>
                                            <option value="m">Masculino</option>
                                            <option value="f">Femenino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8" >
                                </div>
                                <div class="col-sm-4" >
                                    <button class="btn btn-default btn-sm" ng-click="limpiaForms()" type="button" >
                                        Limpiar 
                                        <span class="glyphicon glyphicon-refresh"></span>
                                    </button>
                                    <button type="button" class="btn {{class_btnGuardar}} btn-sm" ng-click="saveEditUsuario()" >
                                        {{text_btnGuardar}}
                                        <span class="glyphicon {{icon_btnGuardar}}"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div id="listUser">
                        <div class="container">
                            <div class="panel-heading">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                    <input type="text" class="form-control" placeholder="Buscare usuario" ng-model="buscar.documento">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="text-{{class_text}}" >{{mensaje}}</p>
                                </div>
                            </div>
                            <table class="table table-condensed" id="tablaUsuarios">
                                <tr>
                                    <th class="table-header" nowrap="">
                                        <span>&nbsp;</span>
                                    </th>
                                    <th class="table-header" nowrap="">
                                        <span>N° Documento</span>
                                    </th>
                                    <th class="table-header" nowrap="">
                                        <span>Nombre(s)</span>
                                    </th>
                                    <th class="table-header" nowrap="">
                                        <span>Apellido(s)</span>
                                    </th>
                                    <th class="table-header" nowrap="">
                                        <span>Edad</span>
                                    </th>
                                    <th class="table-header" nowrap="">
                                        <span>Sexo</span>
                                    </th>
                                </tr>
                                <tr ng-repeat="usuario in user | filter:buscar">
                                    <td class="table-cell" nowrap="">
                                        <span title="eliminar" style="font-size:10px; color:#bb0000; cursor:pointer;" class="glyphicon glyphicon-remove-sign listing-delete" ng-click="eliminarUsuario(usuario)"></span>
                                        <span title="editar" style="font-size:10px; color:#294380; cursor:pointer;" class="glyphicon glyphicon-edit listing-edit" ng-click="CargaDatosEditarUsuario(usuario)"></span>
                                    </td>
                                    <td class="table-cell" nowrap="">{{usuario.documento}}</td>
                                    <td class="table-cell" nowrap="">{{usuario.nombres}}</td>
                                    <td class="table-cell" nowrap="">{{usuario.apellidos}}</td>
                                    <td class="table-cell" nowrap="">{{usuario.fechaNacimiento | date:'fullDate'}}</td>
                                    <td class="table-cell" nowrap="">{{usuario.sexo}} </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap-chosen.js"></script>
        <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.11/i18n/angular-locale_es-co.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-tpls-0.12.0.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
    </body>
</html>
